*.*
*

!.gitignore
!README*

!utils
!utils/abstract-machine
!utils/abstract-machine/klib
!utils/abstract-machine/klib/src
!utils/abstract-machine/klib/src/ysyx.c
!utils/abstract-machine/klib/include
!utils/abstract-machine/klib/include/ysyx.h

!prog
!prog/bin
!prog/bin/mem
!prog/bin/mem/ysyx_hello-mem.*

!prog
!prog/src
!prog/src/ysyx_hello
!prog/src/ysyx_hello/*

!prog
!prog/src
!prog/src/loader
!prog/src/loader/*

!prog
!prog/src
!prog/src/all_test
!prog/src/all_test/*